@import 'tailwindcss';

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

body {
  &:has(.scroll-lock) {
    overflow: hidden;
  }
}

:root {
  background: var(--neutral-background);
  color: var(--neutral-content);
}

:root {
  color-scheme: light;
  --primary-visited: #660099;
  --primary-background: #24a0ed;
  --primary-background-hover: #006cbf;
  --danger-content: #ea0027;
  --success-content: #46d160;
  --global-black: #000000;
  --global-white: #ffffff;
  --global-orangered: #d93900;
  --global-alienblue: #0079d3;
  --global-darkblue: #1d2535;
  --action-downvote: #7193ff;
  --alert-caution: #ffb000;
  --identity-moderator: #46d160;
  --identity-self: #0dd3bb;
  --identity-coins: #ddbd37;
  --category-nsfw: #ff3881;
  --opacity-highlight: linear-gradient(#006cbf1a, var(--tone-6));
  --opacity-08: #1a1a1b14;
  --opacity-50: #00000080;
  --scrim: #1a1a1b4d;
  --button-overlay-focus: #ffffff1a;
  --button-overlay-active: #00000014;
  --gradient-orangeyellow: linear-gradient(89.94deg, #ec0623 0%, #ff8717 100%);
  --gradient-bluepink: linear-gradient(89.94deg, #51b9ff 0%, #7785ff 52.6%, #b279ff 73.96%, #ff81ed 100%);
  --action-downvote: #6a5cff;
  --action-upvote: #d93900;
  --ai-background-weaker: #e7fdf5;
  --ai-plain: #006c56;
  --ai-plain-hover: #015140;
  --alert-caution: #977000;
  --avatar-gradient: linear-gradient(0deg, #97afbcff, #ffffffff 75%);
  --avatar-media-gradient: linear-gradient(0deg, #00000099, #181c1fff 75%);
  --brand-background: #d93900;
  --brand-background-hover: #ae2c00;
  --brand-gradient-active: linear-gradient(180deg, #cd3700ff, #db3b00ff 68%, #d93900ff 100%);
  --brand-gradient-active-highlight: linear-gradient(83deg, #db3f0000 80%, #d93900ff 100%);
  --brand-gradient-default: linear-gradient(180deg, #d93900ff, #db3b00ff 30%, #ae2c00ff 100%);
  --brand-gradient-default-highlight: linear-gradient(258deg, #db3f0000 80%, #d93900ff 100%);
  --brand-gradient-hover: linear-gradient(180deg, #e23d00ff 15%, #cb3600ff 49%, #b43000ff 100%);
  --brand-gradient-hover-highlight: linear-gradient(323deg, #cb360000 65%, #cb3600ff 100%);
  --brand-onBackground: #ffffff;
  --category-live: #d93900;
  --category-nsfw: #de019f;
  --caution-background: #ffbf0b;
  --caution-background-hover: #d8a100;
  --caution-onBackground: #000000;
  --caution-plain: #785800;
  --caution-plain-hover: #5b4200;
  --danger-background: #eb001f;
  --danger-background-disabled: #fdb3a4;
  --danger-background-hover: #bc0117;
  --danger-background-weaker: #fbdbd4;
  --danger-content: #bc0117;
  --danger-content-default: #ffffff;
  --danger-content-hover: #90000f;
  --danger-onBackground: #ffffff;
  --danger-plain: #bc0117;
  --danger-plain-hover: #90000f;
  --downvote-background: #6a5cff;
  --downvote-background-disabled: rgba(106, 92, 255, 0.3);
  --downvote-background-hover: #523dff;
  --downvote-content: #523dff;
  --downvote-content-weak: #6a5cff;
  --downvote-disabled: #523dff4d;
  --downvote-onBackground: #ffffff;
  --downvote-onStrongScrim: #b29fff;
  --downvote-onStrongScrim-disabled: rgba(178, 159, 255, 0.3);
  --downvote-onStrongScrim-weaker: #9580ff;
  --downvote-plain: #523dff;
  --downvote-plain-disabled: rgba(82, 61, 255, 0.3);
  --downvote-plain-weaker: #6a5cff;
  --elevation-large1: #0000003f;
  --elevation-large2: #00000026;
  --elevation-medium1: #0000003f;
  --elevation-medium2: #00000019;
  --elevation-small: #00000026;
  --elevation-xsmall: #0000003f;
  --favorite: #977000;
  --global-admin: #d93900;
  --global-alienblue: #1870f4;
  --global-black: #000000;
  --global-brand-orangered: #ff4500;
  --global-darkblue: #2a3236;
  --global-gold: #b78800;
  --global-moderator: #008a10;
  --global-nsfw: #de019f;
  --global-offline: #667780;
  --global-online: #00c61c;
  --global-orangered: #ff4500;
  --global-stars: #977000;
  --global-white: #ffffff;
  --gradient-media: linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
  --gradient-media-strong: linear-gradient(180deg, #00000000, #000000cc 60%, #000000e6 100%);
  --identity-admin: #d93900;
  --identity-coins: #b78800;
  --identity-moderator: #008a10;
  --identity-self: #01876d;
  --interactive-background-disabled: #0000000c;
  --interactive-content-disabled: #0000003f;
  --interactive-focused: #007fae;
  --interactive-pressed: #00000026;
  --inverted-interactive-background-disabled: #ffffff0c;
  --inverted-interactive-content-disabled: #ffffff3f;
  --inverted-interactive-pressed: #ffffff26;
  --inverted-neutral-background: #0e1113;
  --inverted-neutral-background-hover: #181c1f;
  --inverted-neutral-border: #ffffff33;
  --inverted-neutral-content: #b7cad4;
  --inverted-neutral-content-strong: #eef1f3;
  --inverted-secondary-background: #2a3236;
  --inverted-secondary-background-hover: #333d42;
  --inverted-secondary-background-selected: #3d494e;
  --inverted-secondary-onBackground: #ffffff;
  --inverted-secondary-plain: #dbe4e9;
  --inverted-secondary-plain-hover: #ffffff;
  --media-background: rgba(0, 0, 0, 0.6);
  --media-background-hover: rgba(0, 0, 0, 0.8);
  --media-background-selected: rgba(0, 0, 0, 0.8);
  --media-border-selected: #ffffff;
  --media-border-weak: #ffffff19;
  --media-onBackground: #ffffff;
  --media-onBackground-disabled: #ffffff3f;
  --media-onBackground-weak: #e5ebee;
  --media-onbackground: #ffffff;
  --media-onbackground-disabled: #ffffff40;
  --media-onbackground-weak: #b7cad4;
  --neutral-background: #ffffff;
  --neutral-background-container: #f6f8f9;
  --neutral-background-container-hover: #eef1f3;
  --neutral-background-container-strong: #eef1f3;
  --neutral-background-container-strong-hover: #e5ebee;
  --neutral-background-gilded: #fff9e0;
  --neutral-background-gilded-hover: #fff3c0;
  --neutral-background-highlighted: #f6f8f9;
  --neutral-background-highlighted-strong: #fff9e0;
  --neutral-background-hover: #f6f8f9;
  --neutral-background-medium: #f8f8f8;
  --neutral-background-pinned: #ffffff;
  --neutral-background-selected: #e5ebee;
  --neutral-background-strong: #ffffff;
  --neutral-background-strong-hover: #f6f8f9;
  --neutral-background-weak: #f6f8f9;
  --neutral-background-weak-hover: #eef1f3;
  --neutral-border: #00000033;
  --neutral-border-medium: #0000007f;
  --neutral-border-strong: #181c1f;
  --neutral-border-weak: #00000019;
  --neutral-content: #333d42;
  --neutral-content-disabled: #d6d6d6;
  --neutral-content-strong: #181c1f;
  --neutral-content-weak: #5c6c74;
  --offline: #767676;
  --online: #01a816;
  --opacity-08: #13131314;
  --opacity-50: #00000080;
  --opacity-highlight: linear-gradient(#0a2f6c1a, var(--tone-6));
  --pizzaRed: #ef5350;
  --primary: #115bca;
  --primary-background: #0a449b;
  --primary-background-hover: #0a2f6c;
  --primary-background-selected: #0a1a3f;
  --primary-border: #0a449b;
  --primary-border-hover: #0a2f6c;
  --primary-hover: #0a449b;
  --primary-onBackground: #ffffff;
  --primary-onBackground-selected: #ffffff;
  --primary-plain: #0a449b;
  --primary-plain-hover: #0a2f6c;
  --primary-plain-visited: #7600a3;
  --primary-visited: #9b00d4;
  --primarynext-background: #000000;
  --primarynext-background-hover: #21272a;
  --primarynext-onBackground: #ffffff;
  --primarynext-plain: #0a449b;
  --primarynext-plain-hover: #0a2f6c;
  --primarynext-plain-visited: #7600a3;
  --scrim: #00000099;
  --scrim-background: #00000099;
  --scrim-background-strong: #000000cc;
  --scrim-gradient: linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
  --scrim-strong: #000000cc;
  --secondary: #21272a;
  --secondary-background: #e5ebee;
  --secondary-background-hover: #dbe4e9;
  --secondary-background-selected: #c9d7de;
  --secondary-hover: #000000;
  --secondary-onBackground: #000000;
  --secondary-plain: #181c1f;
  --secondary-plain-hover: #000000;
  --secondary-plain-weak: #5c6c74;
  --secondary-weak: #576f76;
  --success-background: #008a10;
  --success-background-hover: #016e0b;
  --success-content: #016e0b;
  --success-hover: #005306;
  --success-onBackground: #ffffff;
  --success-plain: #016e0b;
  --success-plain-hover: #005306;
  --tone-1: #131313;
  --tone-2: #434343;
  --tone-3: #acacac;
  --tone-4: #e4e4e4;
  --tone-5: #f2f2f2;
  --tone-6: #f8f8f8;
  --tone-7: #ffffff;
  --transparent-background-hover: #7487911a;
  --upvote-background: #d93900;
  --upvote-background-disabled: rgba(217, 57, 0, 0.3);
  --upvote-background-hover: #ae2c00;
  --upvote-content: #ae2c00;
  --upvote-disabled: #ae2c004d;
  --upvote-onBackground: #ffffff;
  --upvote-onStrongScrim: #ff895d;
  --upvote-onStrongScrim-disabled: rgba(255, 137, 93, 0.3);
  --upvote-onStrongScrim-weaker: #ff4500;
  --upvote-plain: #ae2c00;
  --upvote-plain-disabled: rgba(174, 44, 0, 0.3);
  --upvote-plain-weaker: #ff4500;
  --warning-background: #b78800;
  --warning-background-hover: #977000;
  --warning-content: #785800;
  --warning-content-hover: #5b4200;
  --warning-onBackground: #000000;
  --button-border-width: tomato;
  --button-border-width-activated: tomato;
  --shimmer-background: #00000008;
  --shimmer-gradient-overlay: linear-gradient(
    to right,
    #00000000,
    #00000005 20%,
    #0000000f 50%,
    #00000008 70%,
    #00000000 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary-visited: #c58af9;
    --primary-background: #006cbf;
    --primary-background-hover: #24a0ed;
    --identity-coins: #ffe600;
    --ui-canvas: #050505;
    --opacity-50: #d7dadc80;
    --scrim: #0000004d;
    --ai-background-weaker: #00382b;
    --ai-plain: #01a484;
    --ai-plain-hover: #00c29d;
    --avatar-gradient: linear-gradient(0deg, #48545bff, #181c1fff 75%);
    --brand-background: #d93900;
    --brand-background-hover: #ae2c00;
    --brand-onBackground: #ffffff;
    --caution-background: #d8a100;
    --caution-background-hover: #ffbf0b;
    --caution-onBackground: #000000;
    --caution-plain: #ffbf0b;
    --caution-plain-hover: #ffe284;
    --danger-background: #bc0117;
    --danger-background-disabled: #340f05;
    --danger-background-hover: #eb001f;
    --danger-background-weaker: #650405;
    --danger-content: #ff4f40;
    --danger-content-hover: #ff8773;
    --danger-onBackground: #ffffff;
    --danger-plain: #ff8773;
    --danger-plain-hover: #fdb3a4;
    --downvote-background: #6a5cff;
    --downvote-background-disabled: rgba(106, 92, 255, 0.3);
    --downvote-background-hover: #523dff;
    --downvote-content: #9580ff;
    --downvote-content-weak: #6a5cff;
    --downvote-disabled: #9580ff4d;
    --downvote-onBackground: #ffffff;
    --downvote-onStrongScrim: #b29fff;
    --downvote-onStrongScrim-disabled: rgba(178, 159, 255, 0.3);
    --downvote-onStrongScrim-weaker: #9580ff;
    --downvote-plain: #9580ff;
    --downvote-plain-disabled: rgba(149, 128, 255, 0.3);
    --downvote-plain-weaker: #6a5cff;
    --elevation-large1: #0000007f;
    --elevation-large2: #00000033;
    --elevation-medium1: #0000007f;
    --elevation-medium2: #00000033;
    --elevation-small: #00000054;
    --elevation-xsmall: #000000aa;
    --favorite: #b78800;
    --global-admin: #d93900;
    --global-black: #000000;
    --global-brand-orangered: #ff4500;
    --global-gold: #d8a100;
    --global-moderator: #008a10;
    --global-nsfw: #de019f;
    --global-offline: #667780;
    --global-online: #00c61c;
    --global-orangered: #ff4500;
    --global-stars: #d8a100;
    --global-white: #ffffff;
    --interactive-background-disabled: #ffffff0c;
    --interactive-content-disabled: #ffffff3f;
    --interactive-focused: #007fae;
    --interactive-pressed: #ffffff26;
    --inverted-interactive-background-disabled: #0000000c;
    --inverted-interactive-content-disabled: #0000003f;
    --inverted-interactive-pressed: #00000026;
    --inverted-neutral-background: #ffffff;
    --inverted-neutral-background-hover: #f6f8f9;
    --inverted-neutral-border: #00000033;
    --inverted-neutral-content: #333d42;
    --inverted-neutral-content-strong: #181c1f;
    --inverted-secondary-background: #e5ebee;
    --inverted-secondary-background-hover: #dbe4e9;
    --inverted-secondary-background-selected: #c9d7de;
    --inverted-secondary-onBackground: #000000;
    --inverted-secondary-plain: #181c1f;
    --inverted-secondary-plain-hover: #000000;
    --media-background: rgba(0, 0, 0, 0.6);
    --media-background-hover: rgba(0, 0, 0, 0.8);
    --media-background-selected: rgba(0, 0, 0, 0.8);
    --media-border-selected: #ffffff;
    --media-border-weak: #ffffff19;
    --media-onBackground: #ffffff;
    --media-onBackground-disabled: #ffffff3f;
    --media-onBackground-weak: #e5ebee;
    --neutral-background: #0e1113;
    --neutral-background-container: #181c1f;
    --neutral-background-container-hover: #21272a;
    --neutral-background-container-strong: #21272a;
    --neutral-background-container-strong-hover: #2a3236;
    --neutral-background-gilded: #181c1f;
    --neutral-background-gilded-hover: #21272a;
    --neutral-background-highlighted: #181c1f;
    --neutral-background-highlighted-strong: #2a3236;
    --neutral-background-hover: #181c1f;
    --neutral-background-medium: #131313;
    --neutral-background-pinned: #0e1113;
    --neutral-background-selected: #2a3236;
    --neutral-background-strong: #181c1f;
    --neutral-background-strong-hover: #21272a;
    --neutral-background-weak: #000000;
    --neutral-background-weak-hover: #0e1113;
    --neutral-border: #ffffff33;
    --neutral-border-medium: #ffffff7f;
    --neutral-border-strong: #f6f8f9;
    --neutral-border-weak: #ffffff19;
    --neutral-content: #b7cad4;
    --neutral-content-disabled: #303030;
    --neutral-content-strong: #eef1f3;
    --neutral-content-weak: #8ba2ad;
    --offline: #767676;
    --online: #01a816;
    --opacity-50: #f2f2f280;
    --pizzaRed: #c62828;
    --primary: #648efc;
    --primary-background: #115bca;
    --primary-background-hover: #1870f4;
    --primary-background-selected: #648efc;
    --primary-border: #648efc;
    --primary-border-hover: #90a9fd;
    --primary-hover: #90a9fd;
    --primary-onBackground: #ffffff;
    --primary-onBackground-selected: #000000;
    --primary-plain: #648efc;
    --primary-plain-hover: #90a9fd;
    --primary-plain-visited: #cf5fff;
    --primary-visited: #cf5fff;
    --primarynext-background: #eef1f3;
    --primarynext-background-hover: #ffffff;
    --primarynext-onBackground: #000000;
    --primarynext-plain: #648efc;
    --primarynext-plain-hover: #90a9fd;
    --primarynext-plain-visited: #cf5fff;
    --scrim-background: #00000099;
    --scrim-background-strong: #000000cc;
    --secondary: #dbe4e9;
    --secondary-background: #2a3236;
    --secondary-background-hover: #333d42;
    --secondary-background-selected: #3d494e;
    --secondary-hover: #ffffff;
    --secondary-onBackground: #ffffff;
    --secondary-plain: #dbe4e9;
    --secondary-plain-hover: #ffffff;
    --secondary-plain-weak: #8ba2ad;
    --secondary-weak: #748791;
    --success-background: #016e0b;
    --success-background-hover: #008a10;
    --success-content: #01a816;
    --success-hover: #00c61c;
    --success-onBackground: #ffffff;
    --success-plain: #00c61c;
    --success-plain-hover: #58e15b;
    --tone-1: #f2f2f2;
    --tone-2: #acacac;
    --tone-3: #434343;
    --tone-4: #303030;
    --tone-5: #1e1e1e;
    --tone-6: #131313;
    --tone-7: #080808;
    --transparent-background-hover: #6677801a;
    --ui-canvas: #080808;
    --upvote-background: #d93900;
    --upvote-background-disabled: rgba(217, 57, 0, 0.3);
    --upvote-background-hover: #ae2c00;
    --upvote-content: #ff4500;
    --upvote-disabled: #ff45004d;
    --upvote-onBackground: #ffffff;
    --upvote-onStrongScrim: #ff895d;
    --upvote-onStrongScrim-disabled: rgba(255, 137, 93, 0.3);
    --upvote-onStrongScrim-weaker: #ff4500;
    --upvote-plain: #ff895d;
    --upvote-plain-disabled: rgba(255, 137, 93, 0.3);
    --upvote-plain-weaker: #ff4500;
    --warning-background: #b78800;
    --warning-background-hover: #d8a100;
    --warning-content: #b78800;
    --warning-content-hover: #d8a100;
    --warning-onBackground: #000000;
    --shimmer-background: #ffffff08;
    --shimmer-gradient-overlay: linear-gradient(
      to right,
      #ffffff00,
      #ffffff05 20%,
      #ffffff0f 50%,
      #ffffff08 70%,
      #ffffff00 100%
    );
  }
}

@theme {
  --color-primary-visited: var(--primary-visited);
  --color-primary-background: var(--primary-background);
  --color-primary-background-hover: var(--primary-background-hover);
  --color-danger-content: var(--danger-content);
  --color-success-content: var(--success-content);
  --color-global-black: var(--global-black);
  --color-global-white: var(--global-white);
  --color-global-orangered: var(--global-orangered);
  --color-global-alienblue: var(--global-alienblue);
  --color-global-darkblue: var(--global-darkblue);
  --color-action-downvote: var(--action-downvote);
  --color-alert-caution: var(--alert-caution);
  --color-identity-moderator: var(--identity-moderator);
  --color-identity-self: var(--identity-self);
  --color-identity-coins: var(--identity-coins);
  --color-category-nsfw: var(--category-nsfw);
  --color-opacity-highlight: var(--opacity-highlight);
  --color-opacity-08: var(--opacity-08);
  --color-opacity-50: var(--opacity-50);
  --color-scrim: var(--scrim);
  --color-button-overlay-focus: var(--button-overlay-focus);
  --color-button-overlay-active: var(--button-overlay-active);
  --color-gradient-orangeyellow: var(--gradient-orangeyellow);
  --color-gradient-bluepink: var(--gradient-bluepink);
  --color-action-upvote: var(--action-upvote);
  --color-ai-background-weaker: var(--ai-background-weaker);
  --color-ai-plain: var(--ai-plain);
  --color-ai-plain-hover: var(--ai-plain-hover);
  --color-avatar-gradient: var(--avatar-gradient);
  --color-avatar-media-gradient: var(--avatar-media-gradient);
  --color-brand-background: var(--brand-background);
  --color-brand-background-hover: var(--brand-background-hover);
  --color-brand-gradient-active: var(--brand-gradient-active);
  --color-brand-gradient-active-highlight: var(--brand-gradient-active-highlight);
  --color-brand-gradient-default: var(--brand-gradient-default);
  --color-brand-gradient-default-highlight: var(--brand-gradient-default-highlight);
  --color-brand-gradient-hover: var(--brand-gradient-hover);
  --color-brand-gradient-hover-highlight: var(--brand-gradient-hover-highlight);
  --color-brand-onBackground: var(--brand-onBackground);
  --color-category-live: var(--category-live);
  --color-caution-background: var(--caution-background);
  --color-caution-background-hover: var(--caution-background-hover);
  --color-caution-onBackground: var(--caution-onBackground);
  --color-caution-plain: var(--caution-plain);
  --color-caution-plain-hover: var(--caution-plain-hover);
  --color-danger-background: var(--danger-background);
  --color-danger-background-disabled: var(--danger-background-disabled);
  --color-danger-background-hover: var(--danger-background-hover);
  --color-danger-background-weaker: var(--danger-background-weaker);
  --color-danger-content-default: var(--danger-content-default);
  --color-danger-content-hover: var(--danger-content-hover);
  --color-danger-onBackground: var(--danger-onBackground);
  --color-danger-plain: var(--danger-plain);
  --color-danger-plain-hover: var(--danger-plain-hover);
  --color-downvote-background: var(--downvote-background);
  --color-downvote-background-disabled: var(--downvote-background-disabled);
  --color-downvote-background-hover: var(--downvote-background-hover);
  --color-downvote-content: var(--downvote-content);
  --color-downvote-content-weak: var(--downvote-content-weak);
  --color-downvote-disabled: var(--downvote-disabled);
  --color-downvote-onBackground: var(--downvote-onBackground);
  --color-downvote-onStrongScrim: var(--downvote-onStrongScrim);
  --color-downvote-onStrongScrim-disabled: var(--downvote-onStrongScrim-disabled);
  --color-downvote-onStrongScrim-weaker: var(--downvote-onStrongScrim-weaker);
  --color-downvote-plain: var(--downvote-plain);
  --color-downvote-plain-disabled: var(--downvote-plain-disabled);
  --color-downvote-plain-weaker: var(--downvote-plain-weaker);
  --color-elevation-large1: var(--elevation-large1);
  --color-elevation-large2: var(--elevation-large2);
  --color-elevation-medium1: var(--elevation-medium1);
  --color-elevation-medium2: var(--elevation-medium2);
  --color-elevation-small: var(--elevation-small);
  --color-elevation-xsmall: var(--elevation-xsmall);
  --color-favorite: var(--favorite);
  --color-global-admin: var(--global-admin);
  --color-global-brand-orangered: var(--global-brand-orangered);
  --color-global-gold: var(--global-gold);
  --color-global-moderator: var(--global-moderator);
  --color-global-nsfw: var(--global-nsfw);
  --color-global-offline: var(--global-offline);
  --color-global-online: var(--global-online);
  --color-global-stars: var(--global-stars);
  --color-gradient-media: var(--gradient-media);
  --color-gradient-media-strong: var(--gradient-media-strong);
  --color-identity-admin: var(--identity-admin);
  --color-interactive-background-disabled: var(--interactive-background-disabled);
  --color-interactive-content-disabled: var(--interactive-content-disabled);
  --color-interactive-focused: var(--interactive-focused);
  --color-interactive-pressed: var(--interactive-pressed);
  --color-inverted-interactive-background-disabled: var(--inverted-interactive-background-disabled);
  --color-inverted-interactive-content-disabled: var(--inverted-interactive-content-disabled);
  --color-inverted-interactive-pressed: var(--inverted-interactive-pressed);
  --color-inverted-neutral-background: var(--inverted-neutral-background);
  --color-inverted-neutral-background-hover: var(--inverted-neutral-background-hover);
  --color-inverted-neutral-border: var(--inverted-neutral-border);
  --color-inverted-neutral-content: var(--inverted-neutral-content);
  --color-inverted-neutral-content-strong: var(--inverted-neutral-content-strong);
  --color-inverted-secondary-background: var(--inverted-secondary-background);
  --color-inverted-secondary-background-hover: var(--inverted-secondary-background-hover);
  --color-inverted-secondary-background-selected: var(--inverted-secondary-background-selected);
  --color-inverted-secondary-onBackground: var(--inverted-secondary-onBackground);
  --color-inverted-secondary-plain: var(--inverted-secondary-plain);
  --color-inverted-secondary-plain-hover: var(--inverted-secondary-plain-hover);
  --color-media-background: var(--media-background);
  --color-media-background-hover: var(--media-background-hover);
  --color-media-background-selected: var(--media-background-selected);
  --color-media-border-selected: var(--media-border-selected);
  --color-media-border-weak: var(--media-border-weak);
  --color-media-onBackground: var(--media-onBackground);
  --color-media-onBackground-disabled: var(--media-onBackground-disabled);
  --color-media-onBackground-weak: var(--media-onBackground-weak);
  --color-media-onbackground: var(--media-onbackground);
  --color-media-onbackground-disabled: var(--media-onbackground-disabled);
  --color-media-onbackground-weak: var(--media-onbackground-weak);
  --color-neutral-background: var(--neutral-background);
  --color-neutral-background-container: var(--neutral-background-container);
  --color-neutral-background-container-hover: var(--neutral-background-container-hover);
  --color-neutral-background-container-strong: var(--neutral-background-container-strong);
  --color-neutral-background-container-strong-hover: var(--neutral-background-container-strong-hover);
  --color-neutral-background-gilded: var(--neutral-background-gilded);
  --color-neutral-background-gilded-hover: var(--neutral-background-gilded-hover);
  --color-neutral-background-highlighted: var(--neutral-background-highlighted);
  --color-neutral-background-highlighted-strong: var(--neutral-background-highlighted-strong);
  --color-neutral-background-hover: var(--neutral-background-hover);
  --color-neutral-background-medium: var(--neutral-background-medium);
  --color-neutral-background-pinned: var(--neutral-background-pinned);
  --color-neutral-background-selected: var(--neutral-background-selected);
  --color-neutral-background-strong: var(--neutral-background-strong);
  --color-neutral-background-strong-hover: var(--neutral-background-strong-hover);
  --color-neutral-background-weak: var(--neutral-background-weak);
  --color-neutral-background-weak-hover: var(--neutral-background-weak-hover);
  --color-neutral-border: var(--neutral-border);
  --color-neutral-border-medium: var(--neutral-border-medium);
  --color-neutral-border-strong: var(--neutral-border-strong);
  --color-neutral-border-weak: var(--neutral-border-weak);
  --color-neutral-content: var(--neutral-content);
  --color-neutral-content-disabled: var(--neutral-content-disabled);
  --color-neutral-content-strong: var(--neutral-content-strong);
  --color-neutral-content-weak: var(--neutral-content-weak);
  --color-offline: var(--offline);
  --color-online: var(--online);
  --color-pizzaRed: var(--pizzaRed);
  --color-primary: var(--primary);
  --color-primary-background-selected: var(--primary-background-selected);
  --color-primary-border: var(--primary-border);
  --color-primary-border-hover: var(--primary-border-hover);
  --color-primary-hover: var(--primary-hover);
  --color-primary-onBackground: var(--primary-onBackground);
  --color-primary-onBackground-selected: var(--primary-onBackground-selected);
  --color-primary-plain: var(--primary-plain);
  --color-primary-plain-hover: var(--primary-plain-hover);
  --color-primary-plain-visited: var(--primary-plain-visited);
  --color-primarynext-background: var(--primarynext-background);
  --color-primarynext-background-hover: var(--primarynext-background-hover);
  --color-primarynext-onBackground: var(--primarynext-onBackground);
  --color-primarynext-plain: var(--primarynext-plain);
  --color-primarynext-plain-hover: var(--primarynext-plain-hover);
  --color-primarynext-plain-visited: var(--primarynext-plain-visited);
  --color-scrim-background: var(--scrim-background);
  --color-scrim-background-strong: var(--scrim-background-strong);
  --color-scrim-gradient: var(--scrim-gradient);
  --color-scrim-strong: var(--scrim-strong);
  --color-secondary: var(--secondary);
  --color-secondary-background: var(--secondary-background);
  --color-secondary-background-hover: var(--secondary-background-hover);
  --color-secondary-background-selected: var(--secondary-background-selected);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-onBackground: var(--secondary-onBackground);
  --color-secondary-plain: var(--secondary-plain);
  --color-secondary-plain-hover: var(--secondary-plain-hover);
  --color-secondary-plain-weak: var(--secondary-plain-weak);
  --color-secondary-weak: var(--secondary-weak);
  --color-success-background: var(--success-background);
  --color-success-background-hover: var(--success-background-hover);
  --color-success-hover: var(--success-hover);
  --color-success-onBackground: var(--success-onBackground);
  --color-success-plain: var(--success-plain);
  --color-success-plain-hover: var(--success-plain-hover);
  --color-tone-1: var(--tone-1);
  --color-tone-2: var(--tone-2);
  --color-tone-3: var(--tone-3);
  --color-tone-4: var(--tone-4);
  --color-tone-5: var(--tone-5);
  --color-tone-6: var(--tone-6);
  --color-tone-7: var(--tone-7);
  --color-transparent-background-hover: var(--transparent-background-hover);
  --color-upvote-background: var(--upvote-background);
  --color-upvote-background-disabled: var(--upvote-background-disabled);
  --color-upvote-background-hover: var(--upvote-background-hover);
  --color-upvote-content: var(--upvote-content);
  --color-upvote-disabled: var(--upvote-disabled);
  --color-upvote-onBackground: var(--upvote-onBackground);
  --color-upvote-onStrongScrim: var(--upvote-onStrongScrim);
  --color-upvote-onStrongScrim-disabled: var(--upvote-onStrongScrim-disabled);
  --color-upvote-onStrongScrim-weaker: var(--upvote-onStrongScrim-weaker);
  --color-upvote-plain: var(--upvote-plain);
  --color-upvote-plain-disabled: var(--upvote-plain-disabled);
  --color-upvote-plain-weaker: var(--upvote-plain-weaker);
  --color-warning-background: var(--warning-background);
  --color-warning-background-hover: var(--warning-background-hover);
  --color-warning-content: var(--warning-content);
  --color-warning-content-hover: var(--warning-content-hover);
  --color-warning-onBackground: var(--warning-onBackground);
  --color-button-border-width: var(--button-border-width);
  --color-button-border-width-activated: var(--button-border-width-activated);
  --color-shimmer-background: var(--shimmer-background);
  --color-shimmer-gradient-overlay: var(--shimmer-gradient-overlay);
}
